.column {
  /* min-width: 100%; */
  /* width: 30%; */
  height: fit-content;
  border-radius: 8px;
  border: 1px solid #ced0da;
  backdrop-filter: blur(16px);
  background: #ffffffde;
  overflow: hidden;
}

.overdue-column {
  background: #ffffff73;
}

.header-column {
  color: #fff;
  padding: 10px;
}

.header-column span {
  color: #fff;
}

.todo {
  background: #bec4f6;
}

.inprogress {
  background: #b7d0f8;
}

.done {
  background: #ace2d2;
}

.overdue {
  background: #ffa2a2bd;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-column {
  margin-right: 8px;
}

.task-list-box {
  display: flex;
  flex-direction: column;
}

.task-list-wrap {
  padding: 10px 5px 8px;
}

.tasks-list {
  display: flex;
  min-height: 132px;
  flex-direction: column;
  padding: 0 0 8px;
  gap: 10px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn.ant-btn-lg.add-board-btn {
  color: #8e96da;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-text:not(
    :disabled
  ).add-board-btn:hover {
  color: #4276c3;
  background: #e0ecff;
}

.add-task-btn {
  text-align: left;
  color: #ced0da;
}

.header-column span.active-search {
  color: #657997;
}

.hide {
  display: none;
}