header {
  background: linear-gradient(45deg, #9890e3, #b1f4cf);
}

.navbar-user {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 1.2rem;
}

.navbar-logo-user {
  color: #fff;
  justify-self: start;
  font-size: 1.8rem;
}

.dropdown {
  width: 180px;
}

.account {
  color: #908ea5;
  padding: 0 20px;
}

.drop-btn {
  margin-left: 8px;
}