* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

.container {
  max-width: 1350px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-board {
  max-width: 1350px;
  min-height: 1000px;
  padding: 0;
  margin: 0 auto;
}

.empty-container {
  width: 100%;
  min-height: 1000px;
  z-index: 2;
  padding: 80px 0;
}

.btn-st {
  background: #6875d8;
}

.form-button {
  background: #6875d8;
  width: 100%;
}

.wrap-boards {
  display: flex;
  flex-direction: column;
}

.tooltip {
  backdrop-filter: blur(1px);
}

.board-space {
  display: grid;
  width: fit-content;
  height: 1000px;
  align-items: flex-end;
  grid-template-columns: repeat(4, minmax(232px, 440px));
  justify-content: space-between;
  grid-gap: 20px 20px;
  padding: 20px 20px;
  gap: 20px;
}

.wrap-board-space::-webkit-scrollbar {
  height: 6px;
}

.wrap-board-space::-webkit-scrollbar-thumb {
  background: #bec4f6;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.wrap-board-space {
  background: #eeeefa78;
  /* background: linear-gradient(45deg, #dedafe, #dcf5e7); */
  scroll-behavior: smooth;
  overflow-y: auto;
  z-index: 1;
  transform: rotateX(180deg);
}

.board-space.full-width {
  grid-template-columns: repeat(3, minmax(232px, 440px));
}

.title-modal {
  font-size: 18px;
  color: #444975;
}

.title-description {
  color: #565c8e;
}

.date {
  font-size: 12px;
  color: #6c6f85;
}

.descript {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  overflow: hidden;
  color: #6b7590;
}

.footer-modal-task {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 0 0;
  gap: 4px;
}

.edit-modal-btn {
  color: #649bf0;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn.ant-btn-sm.btn-details {
  font-size: 12px;
  color: #565c8ea8;
  padding: 0;
}

.btn-details span:hover {
  color: #a6aee0;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-text:not(:disabled):hover {
  color: #4276c3;
  background: #f0f5ff;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary:not(
    :disabled
  ):hover {
  background: #8b97f1;
}

.form-task {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-form-item {
  margin-bottom: 16px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary {
  background: #6875d8;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-yp8pcc).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-yp8pcc).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background: #6875d8;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #6875d8;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #e9e6ff;
}

:where(.css-dev-only-do-not-override-yp8pcc) a {
  color: #6875d8;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-modal .ant-modal-title {
  color: #565c8e;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-select-single.ant-select-lg
  .ant-select-selector,
:where(.css-dev-only-do-not-override-yp8pcc).ant-input,
:where(.css-dev-only-do-not-override-yp8pcc).ant-picker
  .ant-picker-input
  > input {
  color: #686c92;
}

@media screen and (max-width: 992px) {
  :where(.css-dev-only-do-not-override-yp8pcc).ant-btn.ant-btn-lg {
    padding: 6px 12px;
  }

  :where(.css-dev-only-do-not-override-yp8pcc).ant-btn > span.hide {
    display: none;
  }

  .board-space:not(.full-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  .board-space.full-width {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .ant-drawer-content-wrapper {
    width: 100%;
  }
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-breadcrumb .anticon,
:where(.css-dev-only-do-not-override-yp8pcc).ant-breadcrumb
  .ant-breadcrumb-separator {
  font-size: 20px;
  color: #ffffffc8;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-drawer .ant-drawer-content {
  background: #fefefee6;
  backdrop-filter: blur(1px);
  border-radius: 15px;
  border: 1px solid rgba(43, 43, 43, 0.568);
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-breadcrumb ol {
  align-items: flex-end;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-breadcrumb li:last-child {
  font-size: 18px;
  color: #ffffffc8;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-modal-root
  .ant-modal-wrap
  .modal-detail {
  background: #ffffffc8;
  border-radius: 8px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-drawer
  .ant-drawer-header-title {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-drawer .ant-drawer-title {
  color: #565c8e;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-drawer .ant-drawer-close {
  margin-inline-end: 0;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-avatar-lg.ant-avatar-icon {
  font-size: 18px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tag {
  margin-inline-end: 4px;
}

@media screen and (max-width: 768px) {
  .hideBtn {
    display: none;
  }

  .block {
    max-width: 140px;
  }
}

.block {
  min-width: 140px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.block:hover {
  color: #6875d8;
}

@media screen and (max-width: 768px) {
  .block {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 520px) {
  .block {
    font-size: 1.2rem;
  }
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-progress-line {
  margin-bottom: 0;
}